* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size:100%;
	font:inherit;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
ul li, ol li {
	list-style: none;
}

.row, .clearfix {
	padding: 0 0 0 0.5em;
	zoom: 1;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;

	
}


.row:before, .clearfix:before, .row:after, clearfix:after {
	content: "";
	display: table;
}

.row:after, clearfix:after {
	clear: both;
}



.breakpoint-480 .cell, .breakpoint-640 .cell, .breakpoint-768 .cell, .breakpoint-960 .cell, .no-breakpoint .cell {
	float: left;
	padding: 0 0.5em 0 0;
}

.one-column {
	width: 8.333%;
}
.two-column {
	width: 16.666%;
}
.three-column {
	width: 24.999%;
}
.four-column {
	width: 33.332%;
}
.five-column {
	width: 41.665%;
}
.six-column {
	width: 49.998%;
}
.seven-column {
	width: 58.331%;
}
.eight-column {
	width: 66.664%;
}
.nine-column {
	width: 74.997%;
}
.ten-column {
	width: 83.33%;
}
.eleven-column {
	width: 91.663%;
}
.twelve-column {
	width: 100%;
	float: left;
}
.row.nested {
	padding: 0;
	margin-right: -0.5em
}

/* Links */
body {
	font: .81em/150% "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	color: #444;
}
a {
	color: #6685CC;
	text-decoration: none;
}
a:visited {
	color: #551a8b;
}
a:hover {
	color: #B8CC66;
}
a:focus {
	outline: none;
}
/* Main content
 #main-container is wrapper for all page content
 */
#main-container {
	background: url(../img/bg-1.png) no-repeat;
	width: 95%;
	max-width: 1140px;
	margin: 0 auto 3em auto;

}

header {
	height: 80px;
}
/* Logo and h1 heading */
header h1#logo {
	background: url(../img/logo.png) no-repeat;
	width: 300px;
	height: 80px;
	float: left;
	margin-top: 30px;
	text-indent: -9999px;
}

/* ------------------------- login section */

#login {
	padding-top: 0.6em;
	text-align: center;
	position: absolute;
	right: 0;
	top: -2.4em;
}

.login-form-icons {
	font-size: 1.3em;
	color: #63747e;
	vertical-align: middle;
	display: inline-block
}

#login-form {
	float: left;
	display: none;
}

#login input {
	width: 10.5em;
	font-size: 0.9em;
	padding: 0.3em;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#login-link-text {
	display: inline-block;
}

#login a.show-form, a#login-submit {
	float: right;
	text-align: center;
	padding: 0.2em 1.8em;
	display: block;
	position: relative;
	border: 1px solid #aaa;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border-radius: 90px;
}

#login a.show-form:link {
	background: #fff;
	color: #999;
}

#login a.show-form:link span {
	color: #999;
}

#login a.show-form:hover {
	background: #555;
	color: #fff;
}

#login a.show-form:hover span {
	color: #fff;
}


/* show login form link*/
li#login a.show-form {
	font-size: 0.9em;
	float: right;
	width: 100px;
	text-align: center;
	padding: 3px 12px 2px 12px;
	margin-right: 2px;
	display: block;
	position: relative;
	border: 1px solid #aaa;
	border-radius: 90px;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
}
li#login a.show-form:link {
	background: #fff;
	color: #999;
}
li#login a.show-form:link span {
	color: #999;
}
li#login a.show-form:hover {
	color: #333;
}
li#login a.show-form:hover span {
	color: #333;
}

/* login form submit link */
a#login-submit {
	display: none;
	width: 100px;
	float: left;
	padding: 3px 12px;
	margin-left: 20px;
	text-align: center;
	border-radius: 90px;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
}
a#login-submit:link {
	background: #555;
}
a#login-submit:hover {
	background: #B8CC66
}

#authorized {
	display: none;
	width: 140px;
	height: 40px;
	float: right;
	text-align: left;
	line-height: 17px;
	position: relative;
	top: -7px;
}
#user-authorized {
	font-weight: bold;
	color: #666;
	font-size: 1em;
}
.authorized-icon {
	width: 40px;
	height: 40px;
	font-size: 30px;
	color: #999;
	display: block;
	float: left;
	position: relative;
	top: 9px;
}
#authorized a {
	display: inline;
	background: none;
	font-size: 0.9em;
	padding: 0;
}
#authorized a:link {
	color: #119bf6;
}
#authorized a:hover {
	color: #555;
}
/* ------------------------------ Navigation menu */
nav {
	display:block;

}
li#top-menu-items ul li {
	float: left;
	margin-left: 1px;
}
nav ul li a {
	text-decoration: none;
	float: right;
	padding: 0.5em 0.8em;
	border-radius: 4px;
}
nav ul li a:link {
	background: #6685CC;
	color: #fff;
}
nav ul li a:hover {
	background: #B8CC66;
	color: #fff;
}
/* ------------------------- Main content */
div#main {
	clear: both;
	min-height: 480px;
}
/* ------------------------- Main top section */
#main-top-section {
	background: url(../img/child-1.jpg) no-repeat right bottom, url(../img/bg-2.png) no-repeat 20% bottom;
	width: 100%;
	height: 320px;
	margin-top: 18px;
	border-bottom: 1px dotted #555;
}
.donate-button {	
	background: #ffa600;
	background: -webkit-gradient(linear, left top, left bottom, from(#feca69), to(#ffa600));
	background: -webkit-linear-gradient(top, #feca69, #ffa600);
	background: -moz-linear-gradient(top, #feca69, #ffa600);
	background: -ms-linear-gradient(top, #feca69, #ffa600);
	background: -o-linear-gradient(top, #feca69, #ffa600);
	width:180px;
	display: block;
	margin-left:160px;
	padding: 14px 27px;
	border: 0;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	vertical-align: middle;
	cursor: pointer;
}
.donate-button:hover {
	background: #B8CC66;
	color: #ffffff;
}
.donate-button:active {
	background: #1b435e;
}
.donate-button-submit {
	margin:0;
}
.donate-button-header {
	font-size:16px;
	font-weight:bold;
	color:#fff;
	text-transform: uppercase;
}
.donate-2nd-line {
	font-size:12px;
	font-weight:bold;
	color:#fff;
}
p.donation-address {
	padding: 4em 46% 2.5em 2em;
}

/* Donation form  */
.donation-form-section {
	width: 220px;
	float: left;
}
#donate-form-container {
	display: none;
	padding-top: 20px;
}
/* some basic styles for form elements */
#donate-form-container select, input[type=text], input[type=email] {
	width: 150px;
	margin-bottom: 5px;
	color: #999;
	
}

input[type=text], input[type=email] {
	border:1px solid #999;
	padding: 3px
}

#donate-form-container h3 {
	font-size: 1.4em;
	font-weight: normal;
}

#donate-later-link {
	width: 180px;
	height: auto;
	margin-top: 10px;
	text-align: center;
	display: block;
}
.make-payment h4 {
	padding: 12px 0 8px 0;
	color: #666;
}
.make-payment p {
	background: #fff;
	font-size: 0.9em;
	margin-bottom: 1.4em;
}
label.donation-heading {
	display: block;
	padding: 12px 0;
	color: #666;
	font-weight: bold;
	font-size: 0.9em;
	line-height: 130%;
}

/* Validation */
input[type=text].invalidElement, input[type=email].invalidElement {
	border:1px solid red
}
.donationFormError {
	background:#555;
	color: #fff;
	display: inline-block;
	position:relative;
	top:-3px;
	left:-6px;
	padding:3px 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
/* draw css triangle on the top of element*/
.donationFormError:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(85, 85, 85, 0);
	border-bottom-color: #555;
	border-width: 6px;
	left: 50%;
	margin-left: -6px;
	pointer-events: none;
}

#donate-form-container {
	position:relative
}
#validationSummary {
	display: none;
	position: absolute;
	left: 220px;
	background:red;
	color: #fff;
	padding: 4px 8px;
}

/* Validation end */

/* Main botttom section */
#main-bottom-section {
	width: 100%;
	height: 320px;
}

/* Footer */
footer {
	border-top: 1px dotted #555;
	text-align: right;
	padding-top: 20px;
}
footer #temp-project-name-container {
	float: left;
}
footer #social-icons {
	float: right;
}
footer #social-icons a {
	font-size: 28px;
}
/* Icon Fonts */
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.svg#icomoon') format('svg'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.icon-user:before {
	content: "\21";
}
.icon-locked:before {
	content: "\22";
}
.icon-enter:before {
	content: "\23";
}
.icon-facebook:before {
	content: "\24";
}
.icon-gplus:before {
	content: "\25";
}
.icon-feed:before {
	content: "\26";
}
.icon-twitter:before {
	content: "\27";
}
.icon-cancel:before {
	content: "\28";
}
.icon-mail:before {
	content: "\29";
}
